<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Esqueci a senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="resetPasswordForm">
    <ion-item>
      <ion-label stacked>Email</ion-label> 
      <ion-input formControlName="email" type="email" placeholder="Seu Email" 
        [class.invalid]="!resetPasswordForm.controls.email.valid && blur">
      </ion-input>
    </ion-item> 
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.touched">
      <ion-label>Entre um email válido.</ion-label>
    </ion-item>

    <ion-button expand="block" (click)="resetPassword(resetPasswordForm)"
      [disabled]="!resetPasswordForm.valid">
      Alterar a senha
    </ion-button>
  </form>
</ion-content>
